.menu [data-hamburger] {
    padding: 15px 0 15px 7.5px;

    .hamburger-box {
	    width: 20px;
	    height: 12px;
	}

	.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
	    width: 20px;
	    height: 3px;
	    border-radius: 2px;
	}

	&:not(.is-active) {
		.hamburger-inner::before {
		    top: -6px;
		}

		.hamburger-inner::after {
		    bottom: -6px;
		}	
	}

}
