.top-bar {
  height: 3.5rem;

  .button, .button-group, input {
  	margin: 0;
  }

}

.top-bar +.top-bar-page {
	overflow-y: auto;
	height: calc(100% - 3.5rem);
}

.top-bar.secondary {
    background: white !important;
    border-bottom: $light-gray 2px solid;
}
